{
  "extends": "airbnb",
    "plugins": [
    "mocha"
  ],
  "env": {
    "browser": true,
    "node": true
    },
  "rules": {
    "func-names": 0,
    "object-shorthand": 1,
    "react/require-extension": 0
    }
}
